/* Variable para color de letras */ 

$color-principal: black;
$color-secundario: rgb(81, 255, 81);

/* Variables para el maps */

$principal: black;
$primario: rgb(81, 255, 81);
$secundario: green;
$secundario_dos: gray;

$paleta: (
    "principal": black,
    "primario": rgb(81, 255, 81),
    "secundario": green,
    "secundario_dos": gray
);
